
src/.vs/proj/v15/.suo
src/.vs/proj/v15/Browse.VC.db
src/.vs/proj/v15/ipch/AutoPCH/37980427f57fec5f/IPREPROCESSOR.ipch
src/.vs/proj/v15/ipch/AutoPCH/7220697b7beeee47/CUSTOM_DIRECTIVES.ipch
src/.vs/proj/v15/ipch/AutoPCH/d00c9786e0d8b5ae/PREPROCESSOR.ipch
src/Debug/custom_directives.input
src/Debug/proj.exe
src/Debug/proj.ilk
src/Debug/proj.log
src/Debug/proj.pdb
src/Debug/proj.tlog/CL.command.1.tlog
src/Debug/proj.tlog/link.command.1.tlog
src/Debug/proj.tlog/link.read.1.tlog
src/Debug/proj.tlog/link.write.1.tlog
src/Debug/proj.tlog/proj.lastbuildstate
src/Debug/proj.tlog/unsuccessfulbuild
src/Debug/vc140.pdb
src/Debug/vc141.pdb
src/proj.vcxproj.user
